.navigation {
  margin-bottom: 30px;
}

.skill-header {
  text-align: center;
  margin-right: var(--aboutHeader);
  margin: 0 auto;
}

.lan-work {
  margin-top: 20px;
}

.about-div {
  margin-top: 10%;
  font-weight: bold;
  margin: 0 auto;
  width: 45%;
}

.about-skills {
  font-weight: normal;
  margin: 0 auto;
  font-size: 20px;
}

.skill-bullets {
  margin-left: 30%;
  font-size: 20px;
}
