.skill-header {
  text-align: center;
  margin-right: var(--aboutHeader);
  margin: 0 auto;
}

.about-div {
  margin-top: 10%;
  font-weight: bold;
  margin: 0 auto;
  justify-content: center;
  width: 45%;
  /* width: 35vw; */
}

.about-skills {
  font-weight: normal;
  margin: 0 auto;
}

.skill-bullets {
  margin-left: 30%;
}

@media (min-width: 414px) and (max-width: 768px) {
  .bot-nav {
  }
}
